name: Docker Image Build

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build Docker Image
        run: docker build -t my-web-app .
